<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hello World!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor= "let obj of jsonArr">
    <ion-card-title>{{obj.brand}}</ion-card-title>
    <ion-card-content>
      <p>{{obj.model}}</p>
      <ion-img src="{{obj.pic}}"></ion-img>
    </ion-card-content>
  </ion-card>
<ion-button expand='block' (click)='sayHello()'>
  First Button
</ion-button>
<ion-button fill="outline" (click)='sayHi()'>
  Click This
</ion-button>
